/* styles.css */

body {
    display: flex;
    margin: 0;
    height: 100vh;
}

#emoji-panel {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
    width: 100px;
}

#play-area {
    flex-grow: 1;
    position: relative;
    background-color: #fff;
    overflow: hidden;
}

.emoji {
    font-size: 24px;
    cursor: grab;
}

.disabled {
    color: #ccc;
}

.butterfly {
    font-size: 15px; /* Smaller size for butterflies */
    opacity: 0.7; /* Slightly transparent */
}

.tree {
    font-size: 100px; /* Larger size for trees */
}

.bird {
    font-size: 30px; /* Relative size for birds */
}

.worm {
    font-size: 10px; /* Smaller size for worms */
}
